.title {
  margin: 20px;
}

.mainContainer {
  margin: 20px;
  padding: 20px 40px;
  border: 1px solid #9da1a2;
  border-radius: 15px;
}

.container {
  display: flex;

  &__dataTable {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.hide-enter-active,
.hide-leave-active {
  transform-origin: top;
  transition: transform 0.5s ease-in-out;
}

.hide-enter-to,
.hide-leave-from {
  transform: scaleY(1);
}

.hide-enter-from,
.hide-leave-to {
  transform: scaleY(0);
}